.Blomstra-Trello-modal {
  .Modal-content {
    overflow: visible;
  }

  .TagLabel {
    & when (@config-dark-mode = false) {
      color: #000;
    }
    & when (@config-dark-mode = true) {
      color: #fff;
    }
  }
  .TagLabel.colored .TagLabel-text {
    & when (@config-dark-mode = false) {
      color: #000;
    }
    & when (@config-dark-mode = true) {
      color: #fff !important;
    }
  }
}
